<div class="header">
    <!-- Левая часть: Логотип + Название -->
    <div class="header-left">
        <div class="header-logo">
            <img 
                src="assets/images/logo/V2_Group.svg" 
                alt="В2-ГРУПП"
                class="logo">
        </div>
        <div class="header-name">
            <div>В2-ГРУПП</div>
            <span>Система управления заказами</span>
        </div>
    </div>

    <!-- Правая часть -->
    <div class="header-right">
        <!-- Иконки -->
        <div class="header-icon">
            <p-button 
                icon="pi pi-bell" 
                severity="secondary" 
                text="true" 
                rounded="true"
                badge="5"
                badgeSeverity="danger">
            </p-button>

            <p-button 
                icon="pi pi-cog" 
                severity="secondary" 
                text="true" 
                rounded="true">
            </p-button>
        </div>

        <!-- Профиль -->
        <div class="header-profile">
            <div class="profile">
                <div>userName</div>
                <span>userRole</span>
            </div>
            <i class="pi pi-user"></i>
        </div>
    </div>
</div>