# ===== PostgreSQL =====
POSTGRES_USER=diplom
POSTGRES_PASSWORD=123
POSTGRES_DB=diplom

# ===== Бэкенд =====

JWT_SECRET=your_jwt_secret_key_123

# ===== Внешний порт приложения =====
# По адресу http://<IP-сервера>:8080 будет доступен сайт
HTTP_PORT=8080
